<a href="https://colab.research.google.com/github/HabibParvej/DataAnalysis_MCA/blob/main/Day2Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
# Importing the pandas library using the satndard alias "pd"
import pandas as pd

# Let's verify it works by checking the version
print("Pandas is successfully imported, Version",pd.__version__)

Pandas is successfully imported, Version 2.2.2

In [117]:
# Creating empty series
s = pd.Series()
# Display the series
print("Resultant Empty Series",s)

Resultant Empty Series Series([], dtype: object)

In [118]:
# Creating a Series from a Python list

# Step 1: Import pandas
import pandas as pd

# Step 2: Create a basic Python list of monthly active users (MAUs) for an app
mau_list = [1500, 1800, 2100, 2500, 3000]

# Step 3: Create a Pandas Series from the list
monthly_users = pd.Series(mau_list)

# Step 4: Display the Series
print("Monthly Active Users (MAU):")
print(monthly_users)

Monthly Active Users (MAU):
0    1500
1    1800
2    2100
3    2500
4    3000
dtype: int64

In [119]:
# Creating series from NumPy ndarray with customize index

import numpy as np
import pandas as pd

# Step 1: Create a NumPy array with daily sales numbers
daily_sales_array = np.array([250, 300, 400, 500, 450])

# Step 2: Create a Series from the NumPy array
daily_sales = pd.Series(daily_sales_array, index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])

# Step 3: Print the Series
print("Daily Sales Data:")
print(daily_sales)

Daily Sales Data:
Mon    250
Tue    300
Wed    400
Thu    500
Fri    450
dtype: int64

In [120]:
# Dictionary with country names as keys and population as values
pop_dict = {
    'India': 112,
    'USA': 334,
    'China': 232,
    'Brazil': 345,
    'UK': 121
}

# Create Series from dictionary
population_series = pd.Series(pop_dict)

# Print the series
print("Population By Country")
print(population_series)

Population By Country
India     112
USA       334
China     232
Brazil    345
UK        121
dtype: int64

In [121]:
# Create a series from scalar value

# Representing a single product price applied across 4 branches
import pandas as pd
price_scalar = pd.Series(999, index=['Miami', 'Los Angeles', 'Mumbai', 'Tokyo'])

print("Price of Product X across branches:")
print(price_scalar)

Price of Product X across branches:
Miami          999
Los Angeles    999
Mumbai         999
Tokyo          999
dtype: int64

In [122]:
# Accessing series elements by position
import pandas as pd

# Step 1: Create a Series with monthly revenue data
monthly_revenue = pd.Series(
    [20, 25, 30, 28, 35],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May']
)

# Step 2: Access the first and last month's revenue using position-based indexing
print("January Revenue:", monthly_revenue.iloc[0])   # Position 0
print("May Revenue:", monthly_revenue.iloc[-1])      # Last position

January Revenue: 20
May Revenue: 35

In [123]:
# Accessing by label

# Step 1: Create a Series with monthly revenue data
monthly_revenue = pd.Series(
    [20, 25, 30, 28, 35],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May']
)

# Access revenue for March directly using label
print("March Revenue:", monthly_revenue['Mar'])

# Slicing using index positions

March Revenue: 30

In [124]:
# Step 1: Create a Series showing number of passengers
# (in thousands) per day in a week
passenger_load = pd.Series(
    [105, 134, 120, 145, 160, 178, 150],
    index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
)

# Step 2: Apply various slicing techniques

# Select alternate days starting from Tuesday to Saturday
print("Slicing [1:6:2] (Tue to Sat, alternate days):\n", passenger_load[1:6:2])
# Select midweek traffic from Wednesday to Friday
print("\nSlicing [2:5] (Wed to Fri):\n", passenger_load[2:5])
# Select all data from Thursday onwards
print("\nSlicing [3:] (Thu to Sun):\n", passenger_load[3:])
# Select early week (Mon to Thu)
print("\nSlicing [:4] (Mon to Thu):\n", passenger_load[:4])
# Select the entire week
print("\nSlicing [:] (All days):\n", passenger_load[:])

Slicing [1:6:2] (Tue to Sat, alternate days):
 Tue    134
Thu    145
Sat    178
dtype: int64

Slicing [2:5] (Wed to Fri):
 Wed    120
Thu    145
Fri    160
dtype: int64

Slicing [3:] (Thu to Sun):
 Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

Slicing [:4] (Mon to Thu):
 Mon    105
Tue    134
Wed    120
Thu    145
dtype: int64

Slicing [:] (All days):
 Mon    105
Tue    134
Wed    120
Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

In [125]:
# Slicing a Pandas Series using index labels

import pandas as pd

# Create a Series of daily ticket sales (in thousands) over a week
ticket_sales = pd.Series(
    [120, 135, 128, 160, 142, 170, 155],
    index=[
        '2024-06-01',
        '2024-06-02',
        '2024-06-03',
        '2024-06-04',
        '2024-06-05',
        '2024-06-06',
        '2024-06-07'
    ]
)

# Slice sales from June 2nd to June 5th using index labels
selected_sales = ticket_sales['2024-06-02':'2024-06-05']

# Display the result
print("Ticket sales from June 2 to June 5:\n", selected_sales)

Ticket sales from June 2 to June 5:
 2024-06-02    135
2024-06-03    128
2024-06-04    160
2024-06-05    142
dtype: int64

In [126]:
# Conditional access with boolean indexing

# Use Boolean indexing to filter days with significant delays (>30 minutes)
high_delay_days = passenger_load[passenger_load > 130]

# Display the result
print("Days with flight delays greater than 30 minutes:\n", high_delay_days)

Days with flight delays greater than 30 minutes:
 Tue    134
Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

In [127]:
# Access using .get() to avoid errors
# Try accessing a Days that may not exist
print(passenger_load.get('Tue', 'Data not available'))

134

In [128]:
# Step 1: Convert dict to Series
pop_series = pd.Series(pop_dict)

# Step 2: Now check attributes
print("Data type of population values:", pop_series.dtype)
print("Total records (countries):", pop_series.shape)
print("Index labels:", pop_series.index)

Data type of population values: int64
Total records (countries): (5,)
Index labels: Index(['India', 'USA', 'China', 'Brazil', 'UK'], dtype='object')

In [129]:
# Monthly cloud costs (USD)
cloud_cost = pd.Series(
    [10000, 12500, 11000, 14500, 15000, 12500],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
)

# Find months where cost exceeded $13,000
high_cost = cloud_cost > 13000

# Find months where cost is either below $12,000 or above $14,500
outlier_months = (cloud_cost < 12000) | (cloud_cost > 14500)

# Negate condition: find months not exceeding $13,000
within_budget = ~high_cost

# Use Boolean mask to extract high cost values
filtered_costs = cloud_cost[high_cost]

# Use .where() to keep only values above $13,000, others become NaN
where_example = cloud_cost.where(cloud_cost > 13000)

# Use .mask() to hide costs below $13,000; keep rest
mask_example = cloud_cost.mask(cloud_cost < 13000)

# Use .clip() to restrict all values between $12,000 and $14,000
clipped_cost = cloud_cost.clip(lower=12000, upper=14000)

print("Months with Cost > $13,000:\n",high_cost)
print("\nOutlier Months (< $12k or > $14.5k):\n", outlier_months)
print("\nMonths Within Budget (<= $13,000):\n", within_budget)
print("\nFiltered High Costs:\n", filtered_costs)
print("\nUsing where():\n", where_example)
print("\nUsing mask():\n", mask_example)
print("\nClipped Values between $12k and $14k:\n", clipped_cost)

Months with Cost > $13,000:
 Jan    False
Feb    False
Mar    False
Apr     True
May     True
Jun    False
dtype: bool

Outlier Months (< $12k or > $14.5k):
 Jan     True
Feb    False
Mar     True
Apr    False
May     True
Jun    False
dtype: bool

Months Within Budget (<= $13,000):
 Jan     True
Feb     True
Mar     True
Apr    False
May    False
Jun     True
dtype: bool

Filtered High Costs:
 Apr    14500
May    15000
dtype: int64

Using where():
 Jan        NaN
Feb        NaN
Mar        NaN
Apr    14500.0
May    15000.0
Jun        NaN
dtype: float64

Using mask():
 Jan        NaN
Feb        NaN
Mar        NaN
Apr    14500.0
May    15000.0
Jun        NaN
dtype: float64

Clipped Values between $12k and $14k:
 Jan    12000
Feb    12500
Mar    12000
Apr    14000
May    14000
Jun    12500
dtype: int64

In [130]:
# .map()

# Mapping department codes to names in a payroll system
# Department codes of employees
import pandas as pd

dept_codes = pd.Series(['HR', 'ENG', 'MKT', 'HR', 'FIN', 'ENG'])
print("Before Mapping\n:",dept_codes)
# Mapping to full department names
dept_names = {
    'HR': 'Human Resources',
    'ENG': 'Engineering',
    'MKT': 'Marketing',
    'FIN': 'Finance'
}

# Mapping with .map()
mapped = dept_codes.map(dept_names)
print("Mapped Department Names:\n",mapped)

Before Mapping
: 0     HR
1    ENG
2    MKT
3     HR
4    FIN
5    ENG
dtype: object
Mapped Department Names:
 0    Human Resources
1        Engineering
2          Marketing
3    Human Resources
4            Finance
5        Engineering
dtype: object

In [131]:
# Keys in the dictionary represent column names in the DataFrame
# Each key maps to a list of values, where each element corresponds to
cholesterol_data = {
    'Patient_ID': ['P101', 'P102', 'P103', 'P104', 'P105'],
    'Age': [45, 54, 38, 50, 60],
    'Cholesterol_mg/dL': [190, 205, 180, 220, 199],
    'On_Status': [True, False, True, False, True]
}

# Convert dictionary to DataFrame
df_medical = pd.DataFrame(cholesterol_data)
print(df_medical)

  Patient_ID  Age  Cholesterol_mg/dL  On_Status
0       P101   45                190       True
1       P102   54                205      False
2       P103   38                180       True
3       P104   50                220      False
4       P105   60                199       True

In [132]:
# Creating DataFrame from list
# Seismic magnitude data for different regions

import pandas as pd
import numpy as np

# Each inner list represents a row: [Region, Year, Magnitude]
earthquake_data = [
    ['California', 2016, 6.5],
    ['Japan', 2018, 7.3],
    ['Chile', 2020, 6.9],
    ['Nepal', 2015, 7.8],
    ['Indonesia', 2019, 6.1]
]

# Convert list of lists to DataFrame and specify column names
df_geo = pd.DataFrame(earthquake_data, columns=['Region', 'Year', 'Magnitude'])
print(df_geo)

       Region  Year  Magnitude
0  California  2016        6.5
1       Japan  2018        7.3
2       Chile  2020        6.9
3       Nepal  2015        7.8
4   Indonesia  2019        6.1

In [133]:
# Creating DataFrame from NumPy ndarray
# Intensity readings from two telescope sensors for 5 stars

import pandas as pd
import numpy as np

# Each row represents a star; each column a sensor reading
astro_array = np.array([
    [1500, 1600],
    [1700, 1800],
    [1650, 1720],
    [1580, 1625],
    [1775, 1890]
])

# Create DataFrame from the NumPy array with appropriate column names
df_astro = pd.DataFrame(astro_array, columns=['Sensor_A_Intensity', 'Sensor_B_Intensity'])
print(df_astro)

   Sensor_A_Intensity  Sensor_B_Intensity
0                1500                1600
1                1700                1800
2                1650                1720
3                1580                1625
4                1775                1890

In [134]:
# Save and read DataFrame
# Create the DataFrame with air quality data
air_quality_data = {
    'City': ['Delhi', 'Beijing', 'Los Angeles', 'Paris', 'Sydney'],
    'PM2.5': [250, 180, 90, 60, 40],
    'PM10': [300, 220, 110, 80, 55],
    'NO2': [40, 60, 30, 25, 20],
    'CO': [1.1, 1.3, 0.7, 0.6, 0.4]
}

df_air_quality = pd.DataFrame(air_quality_data)

# Save the DataFrame to a CSV file
df_air_quality.to_csv('air_quality_data.csv', index=False)

# Optional: Load it back to confirm
df_loaded = pd.read_csv('air_quality_data.csv')
print(df_loaded)

          City  PM2.5  PM10  NO2   CO
0        Delhi    250   300   40  1.1
1      Beijing    180   220   60  1.3
2  Los Angeles     90   110   30  0.7
3        Paris     60    80   25  0.6
4       Sydney     40    55   20  0.4

In [135]:
cholesterol_data = {
    'Patient_ID': ['P101', 'P102', 'P103', 'P104', 'P105','P100','P108','P160','P140','P104'],
    'Age': [45, 54, 38, 50, 60, 45, 76, 76, 67, 64],
    'Cholesterol_mg/dL': [190, 205, 180, 220, 199, 199, 210, 210, 199, 220],
    'On_Statins': [True, False, True, False, True, False, True, False, True, False]
}
df_health = pd.DataFrame(cholesterol_data)
print(df_health)
# # Save the DataFrame to a CSV file
# df_health.to_csv('health.csv', index=False)

# # Optional: Load it back to confirm
# df_loaded = pd.read_csv('health.csv')
# print(df_loaded)

  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True
3       P104   50                220       False
4       P105   60                199        True
5       P100   45                199       False
6       P108   76                210        True
7       P160   76                210       False
8       P140   67                199        True
9       P104   64                220       False

In [136]:
# View the first 5 rows of the DataFrame
print("Display first 5 rows")
print(df_health.head())

print("\nDisplay first 3 rows")
# Optionally, view a custom number of rows (e.g., first 3)
print(df_health.head(3))

Display first 5 rows
  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True
3       P104   50                220       False
4       P105   60                199        True

Display first 3 rows
  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True

In [137]:
# .describe() - Summary statistics for numeric data

# Get descriptive stats for numeric columns only
print("Description of DataFrame\n", df_health.describe())

# Optional: Include all data types (numeric + object)
print("\nDetailed description of DataFrame\n", df_health.describe(include='all'))

Description of DataFrame
              Age  Cholesterol_mg/dL
count  10.000000          10.000000
mean   57.500000         203.200000
std    13.268593          12.585706
min    38.000000         180.000000
25%    46.250000         199.000000
50%    57.000000         202.000000
75%    66.250000         210.000000
max    76.000000         220.000000

Detailed description of DataFrame
        Patient_ID        Age  Cholesterol_mg/dL On_Statins
count          10  10.000000          10.000000         10
unique          9        NaN                NaN          2
top          P104        NaN                NaN       True
freq            2        NaN                NaN          5
mean          NaN  57.500000         203.200000        NaN
std           NaN  13.268593          12.585706        NaN
min           NaN  38.000000         180.000000        NaN
25%           NaN  46.250000         199.000000        NaN
50%           NaN  57.000000         202.000000        NaN
75%           NaN  66.250000         210.000000        NaN
max           NaN  76.000000         220.000000        NaN

In [138]:
# .loc[] - Access rows and columns using labels (names)

# Get details of Patient ID and Age
# loc[row_label, column_name]
sf = df_health.loc[1, ['Age', 'Patient_ID']]
print("Located Data is\n", sf)

# Get all fragile shipments
data = df_health.loc[df_health['On_Statins'] == True]
print("\nData:\n", data)

Located Data is
 Age             54
Patient_ID    P102
Name: 1, dtype: object

Data:
   Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
2       P103   38                180        True
4       P105   60                199        True
6       P108   76                210        True
8       P140   67                199        True

In [139]:
# iloc[] - Access rows/columns using positional indices

# Get the first 2  records
# iloc[row_index_position, column_index_position]
first_two = df_health.iloc[0:2]
print("First 2  records\n", first_two)

# Get the Status
weights_status = df_health.iloc[2:4, 3:5]
print("\nStatus\n", weights_status)

First 2  records
   Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False

Status
    On_Statins
2        True
3       False

In [140]:
# .at[] - Access a single cell using row label and column name

# .at[row_label, column_label]
# Returns a scalar value
# Retrieve the status
status = df_health.at[1, 'Age']
print(status)

54

In [141]:
# .iat[] - Access a single cell using row and column index

# Get the 'Weight_kg' value of the 3rd record (index 2, column index 3)
# .iat[row_index, column_index]
weight_value = df_health.iat[2, 3]
print("value of the 3rd record =", weight_value)

# query() - Filter rows using a string-based expression, like SQL

value of the 3rd record = True

In [142]:

# 1. Convert Age Years to Months
df_health['Age_in_Months'] = df_health['Age'] * 12 # Create a new Column in the existing Data
print("age from years to months\n", df_health['Age_in_Months'])

age from years to months
 0    540
1    648
2    456
3    600
4    720
5    540
6    912
7    912
8    804
9    768
Name: Age_in_Months, dtype: int64

In [143]:
print(df_health)

  Patient_ID  Age  Cholesterol_mg/dL  On_Statins  Age_in_Months
0       P101   45                190        True            540
1       P102   54                205       False            648
2       P103   38                180        True            456
3       P104   50                220       False            600
4       P105   60                199        True            720
5       P100   45                199       False            540
6       P108   76                210        True            912
7       P160   76                210       False            912
8       P140   67                199        True            804
9       P104   64                220       False            768

In [145]:
# Before update
print("\nStatus - Before:\n", df_health['On_Statins'])

# Update values: if it's a boolean column
df_health.loc[df_health['On_Statins'] == True, 'On_Statins'] = 'On'

# After update
print("\nStatus - After:\n", df_health['On_Statins'])

Status - Before:
 0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
Name: On_Statins, dtype: bool

Status - After:
 0       On
1    False
2       On
3    False
4       On
5    False
6       On
7    False
8       On
9    False
Name: On_Statins, dtype: object

/tmp/ipython-input-145-3726786460.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'On' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_health.loc[df_health['On_Statins'] == True, 'On_Statins'] = 'On'

In [153]:

# Creating logistics shipment DataFrame
# Creating logistics shipment DataFrame
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight_kg': [12.5, 8.0, 15.0, 7.5, 10.0],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'Delivered', 'Delayed'],
    'Fragile': [True, False, True, False, True],
    'Shipping_Type': ['Air', 'Ground', 'Air', 'Ground', 'Air']
})

# 1. (Fixed) Get all delayed shipments (not 'Critical', which doesn't exist)
delayed_df = df[df['Status'] == 'Delayed']
print(" Delayed Shipments:\n", delayed_df)

# 2. Get all delayed AND air-shipped packages (heavy is not clearly defined, so we're keeping it simple)
delayed_air_df = df[(df['Status'] == 'Delayed') & (df['Shipping_Type'] == 'Air')]
print("\nDelayed & Air-Shipped Packages:\n", delayed_air_df)

# 3. Query for ground-shipped delayed items
ground_delayed = df.query("Status == 'Delayed' and Shipping_Type == 'Ground'")
print("\n Delayed Ground Shipments:\n", ground_delayed)

 Delayed Shipments:
    ShipmentID  Weight_kg   Status  Fragile Shipping_Type
2        1003       15.0  Delayed     True           Air
4        1005       10.0  Delayed     True           Air

Delayed & Air-Shipped Packages:
    ShipmentID  Weight_kg   Status  Fragile Shipping_Type
2        1003       15.0  Delayed     True           Air
4        1005       10.0  Delayed     True           Air

 Delayed Ground Shipments:
 Empty DataFrame
Columns: [ShipmentID, Weight_kg, Status, Fragile, Shipping_Type]
Index: []

In [154]:
# Dataframe  Arithmetc (With/Without)

In [160]:
# File Handling

# Creating logistics shipment DataFrame
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight_kg': [12.5, 8.0, 15.0, 7.5, 10.0],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'Delivered', 'Delayed'],
    'Fragile': [True, False, True, False, True],
    'Shipping_Type': ['Air', 'Ground', 'Air', 'Ground', 'Air']
})

df.to_excel('ShipmentData.xlsx',index = False)

In [161]:
# Read The excel File
df_loaded = pd.read_excel('ShipmentData.xlsx')
print(df_loaded)

   ShipmentID  Weight_kg      Status  Fragile Shipping_Type
0        1001       12.5   Delivered     True           Air
1        1002        8.0  In Transit    False        Ground
2        1003       15.0     Delayed     True           Air
3        1004        7.5   Delivered    False        Ground
4        1005       10.0     Delayed     True           Air

In [163]:
# Use all the Binary Comparisonsss
# Assuming 'df' DataFrame is already defined, for example from a previous image:
df = pd.DataFrame({
    'City': ['Delhi', 'Beijing', 'Los Angeles', 'Paris', 'Sydney'],
    'PM2.5': [250, 180, 90, 60, 40],
    'PM10': [300, 220, 110, 80, 55],
    'NO2': [40, 60, 30, 25, 20],
    'CO': [1.1, 1.3, 0.7, 0.6, 0.4]
})

# Define safe threshold values (as per environmental standards)
safe_PM25 = 100
safe_PM10 = 200

# Perform binary comparisons
pm25_safe = df['PM2.5'] < safe_PM25      # Is PM2.5 within safe limit?
pm10_high = df['PM10'] > safe_PM10      # Is PM10 exceeding danger level?
pm_match = df['PM2.5'] == df['PM10']     # Are both pollutants equal?

# Print comparisons
print("Cities with Safe PM2.5 Levels:\n", pm25_safe)
print("\nCities with High PM10 Levels:\n", pm10_high)
print("\nCities where PM2.5 equals PM10:\n", pm_match)

Cities with Safe PM2.5 Levels:
 0    False
1    False
2     True
3     True
4     True
Name: PM2.5, dtype: bool

Cities with High PM10 Levels:
 0     True
1     True
2    False
3    False
4    False
Name: PM10, dtype: bool

Cities where PM2.5 equals PM10:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [164]:
# Boolean Functions

# Create a sample DataFrame with emissions data (in mg/m³)
data = {
    'NOx_Emissions': [10, 20, 30],  # Nitrogen oxides (harmful gases)
    'CO2_Emissions': [40, 50, 60]   # Carbon dioxide (global warming agent)
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Daily Emissions Data:\n", df)

# Binary comparison - Check if emissions are less than 25
# Returns a DataFrame with boolean values (True/False) per element
print("\nEmissions < 25 mg/m³:\n", df.lt(25)) # lt = less than

# Check if emissions exceed 50 mg/m³
print("\nEmissions > 50 mg/m³ (Exceeds Alert Level):\n", df.gt(50)) # gt = greater than

# Check where emissions are exactly 30 mg/m³
print("\nEmissions == 30 mg/m³ (Match Target Day):\n", df.eq(30)) # eq = equal to

# Check if emissions are <= 30 mg/m³ (within safe range)
print("\nEmissions <= 30 mg/m³:\n", df.le(30)) # le = less than or equal

Daily Emissions Data:
    NOx_Emissions  CO2_Emissions
0             10             40
1             20             50
2             30             60

Emissions < 25 mg/m³:
    NOx_Emissions  CO2_Emissions
0           True          False
1           True          False
2          False          False

Emissions > 50 mg/m³ (Exceeds Alert Level):
    NOx_Emissions  CO2_Emissions
0          False          False
1          False          False
2          False           True

Emissions == 30 mg/m³ (Match Target Day):
    NOx_Emissions  CO2_Emissions
0          False          False
1          False          False
2           True          False

Emissions <= 30 mg/m³:
    NOx_Emissions  CO2_Emissions
0           True          False
1           True          False
2           True          False

In [166]:
# Sample DataFrame for example
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight(kg)': [800, 1200, 900, 950, 700],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'No', 'No'],
    'OriginPort': ['Rotterdam', 'Shanghai', 'Hamburg', 'Rotterdam', 'Hamburg']
})

# 1. Define a set of European ports
europe_ports = ['Rotterdam', 'Hamburg']

# 2. Apply advanced filtering
filtered_df = df[
    (df['Status'] == 'No') &  # Only those not delivered
    (df['Weight(kg)'] < 1000) &  # Weight less than 1000 kg
    (df['OriginPort'].isin(europe_ports))  # From European ports
]

# 3. Display the result
print("\nFiltered Shipments (Undelivered, <1000kg, From Europe):")
print(filtered_df)

Filtered Shipments (Undelivered, <1000kg, From Europe):
   ShipmentID  Weight(kg) Status OriginPort
3        1004         950     No  Rotterdam
4        1005         700     No    Hamburg