<a href="https://colab.research.google.com/github/HabibParvej/DataAnalysis_MCA/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [715]:
# Importing the pandas library using the satndard alias "pd"
import pandas as pd

# Let's verify it works by checking the version
print("Pandas is successfully imported, Version",pd.__version__)

Pandas is successfully imported, Version 2.2.2

In [716]:
# Creating empty series
s = pd.Series()
# Display the series
print("Resultant Empty Series",s)

Resultant Empty Series Series([], dtype: object)

In [717]:
# Creating a Series from a Python list

# Step 1: Import pandas
import pandas as pd

# Step 2: Create a basic Python list of monthly active users (MAUs) for an app
mau_list = [1500, 1800, 2100, 2500, 3000]

# Step 3: Create a Pandas Series from the list
monthly_users = pd.Series(mau_list)

# Step 4: Display the Series
print("Monthly Active Users (MAU):")
print(monthly_users)

Monthly Active Users (MAU):
0    1500
1    1800
2    2100
3    2500
4    3000
dtype: int64

In [718]:
# Creating series from NumPy ndarray with customize index

import numpy as np
import pandas as pd

# Step 1: Create a NumPy array with daily sales numbers
daily_sales_array = np.array([250, 300, 400, 500, 450])

# Step 2: Create a Series from the NumPy array
daily_sales = pd.Series(daily_sales_array, index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])

# Step 3: Print the Series
print("Daily Sales Data:")
print(daily_sales)

Daily Sales Data:
Mon    250
Tue    300
Wed    400
Thu    500
Fri    450
dtype: int64

In [719]:
# Dictionary with country names as keys and population as values
pop_dict = {
    'India': 112,
    'USA': 334,
    'China': 232,
    'Brazil': 345,
    'UK': 121
}

# Create Series from dictionary
population_series = pd.Series(pop_dict)

# Print the series
print("Population By Country")
print(population_series)

Population By Country
India     112
USA       334
China     232
Brazil    345
UK        121
dtype: int64

In [720]:
# Create a series from scalar value

# Representing a single product price applied across 4 branches
import pandas as pd
price_scalar = pd.Series(999, index=['Miami', 'Los Angeles', 'Mumbai', 'Tokyo'])

print("Price of Product X across branches:")
print(price_scalar)

Price of Product X across branches:
Miami          999
Los Angeles    999
Mumbai         999
Tokyo          999
dtype: int64

In [721]:
# Accessing series elements by position
import pandas as pd

# Step 1: Create a Series with monthly revenue data
monthly_revenue = pd.Series(
    [20, 25, 30, 28, 35],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May']
)

# Step 2: Access the first and last month's revenue using position-based indexing
print("January Revenue:", monthly_revenue.iloc[0])   # Position 0
print("May Revenue:", monthly_revenue.iloc[-1])      # Last position

January Revenue: 20
May Revenue: 35

In [722]:
# Accessing by label

# Step 1: Create a Series with monthly revenue data
monthly_revenue = pd.Series(
    [20, 25, 30, 28, 35],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May']
)

# Access revenue for March directly using label
print("March Revenue:", monthly_revenue['Mar'])

# Slicing using index positions

March Revenue: 30

In [723]:
# Step 1: Create a Series showing number of passengers
# (in thousands) per day in a week
passenger_load = pd.Series(
    [105, 134, 120, 145, 160, 178, 150],
    index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
)

# Step 2: Apply various slicing techniques

# Select alternate days starting from Tuesday to Saturday
print("Slicing [1:6:2] (Tue to Sat, alternate days):\n", passenger_load[1:6:2])
# Select midweek traffic from Wednesday to Friday
print("\nSlicing [2:5] (Wed to Fri):\n", passenger_load[2:5])
# Select all data from Thursday onwards
print("\nSlicing [3:] (Thu to Sun):\n", passenger_load[3:])
# Select early week (Mon to Thu)
print("\nSlicing [:4] (Mon to Thu):\n", passenger_load[:4])
# Select the entire week
print("\nSlicing [:] (All days):\n", passenger_load[:])

Slicing [1:6:2] (Tue to Sat, alternate days):
 Tue    134
Thu    145
Sat    178
dtype: int64

Slicing [2:5] (Wed to Fri):
 Wed    120
Thu    145
Fri    160
dtype: int64

Slicing [3:] (Thu to Sun):
 Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

Slicing [:4] (Mon to Thu):
 Mon    105
Tue    134
Wed    120
Thu    145
dtype: int64

Slicing [:] (All days):
 Mon    105
Tue    134
Wed    120
Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

In [724]:
# Slicing a Pandas Series using index labels

import pandas as pd

# Create a Series of daily ticket sales (in thousands) over a week
ticket_sales = pd.Series(
    [120, 135, 128, 160, 142, 170, 155],
    index=[
        '2024-06-01',
        '2024-06-02',
        '2024-06-03',
        '2024-06-04',
        '2024-06-05',
        '2024-06-06',
        '2024-06-07'
    ]
)

# Slice sales from June 2nd to June 5th using index labels
selected_sales = ticket_sales['2024-06-02':'2024-06-05']

# Display the result
print("Ticket sales from June 2 to June 5:\n", selected_sales)

Ticket sales from June 2 to June 5:
 2024-06-02    135
2024-06-03    128
2024-06-04    160
2024-06-05    142
dtype: int64

In [725]:
# Conditional access with boolean indexing

# Use Boolean indexing to filter days with significant delays (>30 minutes)
high_delay_days = passenger_load[passenger_load > 130]

# Display the result
print("Days with flight delays greater than 30 minutes:\n", high_delay_days)

Days with flight delays greater than 30 minutes:
 Tue    134
Thu    145
Fri    160
Sat    178
Sun    150
dtype: int64

In [726]:
# Access using .get() to avoid errors
# Try accessing a Days that may not exist
print(passenger_load.get('Tue', 'Data not available'))

134

In [727]:
# Step 1: Convert dict to Series
pop_series = pd.Series(pop_dict)

# Step 2: Now check attributes
print("Data type of population values:", pop_series.dtype)
print("Total records (countries):", pop_series.shape)
print("Index labels:", pop_series.index)

Data type of population values: int64
Total records (countries): (5,)
Index labels: Index(['India', 'USA', 'China', 'Brazil', 'UK'], dtype='object')

In [728]:
# Monthly cloud costs (USD)
cloud_cost = pd.Series(
    [10000, 12500, 11000, 14500, 15000, 12500],
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
)

# Find months where cost exceeded $13,000
high_cost = cloud_cost > 13000

# Find months where cost is either below $12,000 or above $14,500
outlier_months = (cloud_cost < 12000) | (cloud_cost > 14500)

# Negate condition: find months not exceeding $13,000
within_budget = ~high_cost

# Use Boolean mask to extract high cost values
filtered_costs = cloud_cost[high_cost]

# Use .where() to keep only values above $13,000, others become NaN
where_example = cloud_cost.where(cloud_cost > 13000)

# Use .mask() to hide costs below $13,000; keep rest
mask_example = cloud_cost.mask(cloud_cost < 13000)

# Use .clip() to restrict all values between $12,000 and $14,000
clipped_cost = cloud_cost.clip(lower=12000, upper=14000)

print("Months with Cost > $13,000:\n",high_cost)
print("\nOutlier Months (< $12k or > $14.5k):\n", outlier_months)
print("\nMonths Within Budget (<= $13,000):\n", within_budget)
print("\nFiltered High Costs:\n", filtered_costs)
print("\nUsing where():\n", where_example)
print("\nUsing mask():\n", mask_example)
print("\nClipped Values between $12k and $14k:\n", clipped_cost)

Months with Cost > $13,000:
 Jan    False
Feb    False
Mar    False
Apr     True
May     True
Jun    False
dtype: bool

Outlier Months (< $12k or > $14.5k):
 Jan     True
Feb    False
Mar     True
Apr    False
May     True
Jun    False
dtype: bool

Months Within Budget (<= $13,000):
 Jan     True
Feb     True
Mar     True
Apr    False
May    False
Jun     True
dtype: bool

Filtered High Costs:
 Apr    14500
May    15000
dtype: int64

Using where():
 Jan        NaN
Feb        NaN
Mar        NaN
Apr    14500.0
May    15000.0
Jun        NaN
dtype: float64

Using mask():
 Jan        NaN
Feb        NaN
Mar        NaN
Apr    14500.0
May    15000.0
Jun        NaN
dtype: float64

Clipped Values between $12k and $14k:
 Jan    12000
Feb    12500
Mar    12000
Apr    14000
May    14000
Jun    12500
dtype: int64

In [729]:
# .map()

# Mapping department codes to names in a payroll system
# Department codes of employees
import pandas as pd

dept_codes = pd.Series(['HR', 'ENG', 'MKT', 'HR', 'FIN', 'ENG'])
print("Before Mapping\n:",dept_codes)
# Mapping to full department names
dept_names = {
    'HR': 'Human Resources',
    'ENG': 'Engineering',
    'MKT': 'Marketing',
    'FIN': 'Finance'
}

# Mapping with .map()
mapped = dept_codes.map(dept_names)
print("Mapped Department Names:\n",mapped)

Before Mapping
: 0     HR
1    ENG
2    MKT
3     HR
4    FIN
5    ENG
dtype: object
Mapped Department Names:
 0    Human Resources
1        Engineering
2          Marketing
3    Human Resources
4            Finance
5        Engineering
dtype: object

In [730]:
# Keys in the dictionary represent column names in the DataFrame
# Each key maps to a list of values, where each element corresponds to
cholesterol_data = {
    'Patient_ID': ['P101', 'P102', 'P103', 'P104', 'P105'],
    'Age': [45, 54, 38, 50, 60],
    'Cholesterol_mg/dL': [190, 205, 180, 220, 199],
    'On_Status': [True, False, True, False, True]
}

# Convert dictionary to DataFrame
df_medical = pd.DataFrame(cholesterol_data)
print(df_medical)

  Patient_ID  Age  Cholesterol_mg/dL  On_Status
0       P101   45                190       True
1       P102   54                205      False
2       P103   38                180       True
3       P104   50                220      False
4       P105   60                199       True

In [731]:
# Creating DataFrame from list
# Seismic magnitude data for different regions

import pandas as pd
import numpy as np

# Each inner list represents a row: [Region, Year, Magnitude]
earthquake_data = [
    ['California', 2016, 6.5],
    ['Japan', 2018, 7.3],
    ['Chile', 2020, 6.9],
    ['Nepal', 2015, 7.8],
    ['Indonesia', 2019, 6.1]
]

# Convert list of lists to DataFrame and specify column names
df_geo = pd.DataFrame(earthquake_data, columns=['Region', 'Year', 'Magnitude'])
print(df_geo)

       Region  Year  Magnitude
0  California  2016        6.5
1       Japan  2018        7.3
2       Chile  2020        6.9
3       Nepal  2015        7.8
4   Indonesia  2019        6.1

In [732]:
# Creating DataFrame from NumPy ndarray
# Intensity readings from two telescope sensors for 5 stars

import pandas as pd
import numpy as np

# Each row represents a star; each column a sensor reading
astro_array = np.array([
    [1500, 1600],
    [1700, 1800],
    [1650, 1720],
    [1580, 1625],
    [1775, 1890]
])

# Create DataFrame from the NumPy array with appropriate column names
df_astro = pd.DataFrame(astro_array, columns=['Sensor_A_Intensity', 'Sensor_B_Intensity'])
print(df_astro)

   Sensor_A_Intensity  Sensor_B_Intensity
0                1500                1600
1                1700                1800
2                1650                1720
3                1580                1625
4                1775                1890

In [733]:
# Save and read DataFrame
# Create the DataFrame with air quality data
air_quality_data = {
    'City': ['Delhi', 'Beijing', 'Los Angeles', 'Paris', 'Sydney'],
    'PM2.5': [250, 180, 90, 60, 40],
    'PM10': [300, 220, 110, 80, 55],
    'NO2': [40, 60, 30, 25, 20],
    'CO': [1.1, 1.3, 0.7, 0.6, 0.4]
}

df_air_quality = pd.DataFrame(air_quality_data)

# Save the DataFrame to a CSV file
df_air_quality.to_csv('air_quality_data.csv', index=False)

# Optional: Load it back to confirm
df_loaded = pd.read_csv('air_quality_data.csv')
print(df_loaded)

          City  PM2.5  PM10  NO2   CO
0        Delhi    250   300   40  1.1
1      Beijing    180   220   60  1.3
2  Los Angeles     90   110   30  0.7
3        Paris     60    80   25  0.6
4       Sydney     40    55   20  0.4

In [734]:
cholesterol_data = {
    'Patient_ID': ['P101', 'P102', 'P103', 'P104', 'P105','P100','P108','P160','P140','P104'],
    'Age': [45, 54, 38, 50, 60, 45, 76, 76, 67, 64],
    'Cholesterol_mg/dL': [190, 205, 180, 220, 199, 199, 210, 210, 199, 220],
    'On_Statins': [True, False, True, False, True, False, True, False, True, False]
}
df_health = pd.DataFrame(cholesterol_data)
print(df_health)
# # Save the DataFrame to a CSV file
# df_health.to_csv('health.csv', index=False)

# # Optional: Load it back to confirm
# df_loaded = pd.read_csv('health.csv')
# print(df_loaded)

  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True
3       P104   50                220       False
4       P105   60                199        True
5       P100   45                199       False
6       P108   76                210        True
7       P160   76                210       False
8       P140   67                199        True
9       P104   64                220       False

In [735]:
# View the first 5 rows of the DataFrame
print("Display first 5 rows")
print(df_health.head())

print("\nDisplay first 3 rows")
# Optionally, view a custom number of rows (e.g., first 3)
print(df_health.head(3))

Display first 5 rows
  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True
3       P104   50                220       False
4       P105   60                199        True

Display first 3 rows
  Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False
2       P103   38                180        True

In [736]:
# .describe() - Summary statistics for numeric data

# Get descriptive stats for numeric columns only
print("Description of DataFrame\n", df_health.describe())

# Optional: Include all data types (numeric + object)
print("\nDetailed description of DataFrame\n", df_health.describe(include='all'))

Description of DataFrame
              Age  Cholesterol_mg/dL
count  10.000000          10.000000
mean   57.500000         203.200000
std    13.268593          12.585706
min    38.000000         180.000000
25%    46.250000         199.000000
50%    57.000000         202.000000
75%    66.250000         210.000000
max    76.000000         220.000000

Detailed description of DataFrame
        Patient_ID        Age  Cholesterol_mg/dL On_Statins
count          10  10.000000          10.000000         10
unique          9        NaN                NaN          2
top          P104        NaN                NaN       True
freq            2        NaN                NaN          5
mean          NaN  57.500000         203.200000        NaN
std           NaN  13.268593          12.585706        NaN
min           NaN  38.000000         180.000000        NaN
25%           NaN  46.250000         199.000000        NaN
50%           NaN  57.000000         202.000000        NaN
75%           NaN  66.250000         210.000000        NaN
max           NaN  76.000000         220.000000        NaN

In [737]:
# .loc[] - Access rows and columns using labels (names)

# Get details of Patient ID and Age
# loc[row_label, column_name]
sf = df_health.loc[1, ['Age', 'Patient_ID']]
print("Located Data is\n", sf)

# Get all fragile shipments
data = df_health.loc[df_health['On_Statins'] == True]
print("\nData:\n", data)

Located Data is
 Age             54
Patient_ID    P102
Name: 1, dtype: object

Data:
   Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
2       P103   38                180        True
4       P105   60                199        True
6       P108   76                210        True
8       P140   67                199        True

In [738]:
# iloc[] - Access rows/columns using positional indices

# Get the first 2  records
# iloc[row_index_position, column_index_position]
first_two = df_health.iloc[0:2]
print("First 2  records\n", first_two)

# Get the Status
weights_status = df_health.iloc[2:4, 3:5]
print("\nStatus\n", weights_status)

First 2  records
   Patient_ID  Age  Cholesterol_mg/dL  On_Statins
0       P101   45                190        True
1       P102   54                205       False

Status
    On_Statins
2        True
3       False

In [739]:
# .at[] - Access a single cell using row label and column name

# .at[row_label, column_label]
# Returns a scalar value
# Retrieve the status
status = df_health.at[1, 'Age']
print(status)

54

In [740]:
# .iat[] - Access a single cell using row and column index

# Get the 'Weight_kg' value of the 3rd record (index 2, column index 3)
# .iat[row_index, column_index]
weight_value = df_health.iat[2, 3]
print("value of the 3rd record =", weight_value)

# query() - Filter rows using a string-based expression, like SQL

value of the 3rd record = True

In [741]:

# 1. Convert Age Years to Months
df_health['Age_in_Months'] = df_health['Age'] * 12 # Create a new Column in the existing Data
print("age from years to months\n", df_health['Age_in_Months'])

age from years to months
 0    540
1    648
2    456
3    600
4    720
5    540
6    912
7    912
8    804
9    768
Name: Age_in_Months, dtype: int64

In [742]:
print(df_health)

  Patient_ID  Age  Cholesterol_mg/dL  On_Statins  Age_in_Months
0       P101   45                190        True            540
1       P102   54                205       False            648
2       P103   38                180        True            456
3       P104   50                220       False            600
4       P105   60                199        True            720
5       P100   45                199       False            540
6       P108   76                210        True            912
7       P160   76                210       False            912
8       P140   67                199        True            804
9       P104   64                220       False            768

In [743]:
# Before update
print("\nStatus - Before:\n", df_health['On_Statins'])

# Update values: if it's a boolean column
df_health.loc[df_health['On_Statins'] == True, 'On_Statins'] = 'On'

# After update
print("\nStatus - After:\n", df_health['On_Statins'])

Status - Before:
 0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
Name: On_Statins, dtype: bool

Status - After:
 0       On
1    False
2       On
3    False
4       On
5    False
6       On
7    False
8       On
9    False
Name: On_Statins, dtype: object

/tmp/ipython-input-743-3957223621.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'On' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_health.loc[df_health['On_Statins'] == True, 'On_Statins'] = 'On'

In [744]:

# Creating logistics shipment DataFrame
# Creating logistics shipment DataFrame
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight_kg': [12.5, 8.0, 15.0, 7.5, 10.0],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'Delivered', 'Delayed'],
    'Fragile': [True, False, True, False, True],
    'Shipping_Type': ['Air', 'Ground', 'Air', 'Ground', 'Air']
})

# 1. (Fixed) Get all delayed shipments (not 'Critical', which doesn't exist)
delayed_df = df[df['Status'] == 'Delayed']
print(" Delayed Shipments:\n", delayed_df)

# 2. Get all delayed AND air-shipped packages (heavy is not clearly defined, so we're keeping it simple)
delayed_air_df = df[(df['Status'] == 'Delayed') & (df['Shipping_Type'] == 'Air')]
print("\nDelayed & Air-Shipped Packages:\n", delayed_air_df)

# 3. Query for ground-shipped delayed items
ground_delayed = df.query("Status == 'Delayed' and Shipping_Type == 'Ground'")
print("\n Delayed Ground Shipments:\n", ground_delayed)

 Delayed Shipments:
    ShipmentID  Weight_kg   Status  Fragile Shipping_Type
2        1003       15.0  Delayed     True           Air
4        1005       10.0  Delayed     True           Air

Delayed & Air-Shipped Packages:
    ShipmentID  Weight_kg   Status  Fragile Shipping_Type
2        1003       15.0  Delayed     True           Air
4        1005       10.0  Delayed     True           Air

 Delayed Ground Shipments:
 Empty DataFrame
Columns: [ShipmentID, Weight_kg, Status, Fragile, Shipping_Type]
Index: []

In [745]:
# Dataframe  Arithmetc (With/Without)

In [746]:
# File Handling

# Creating logistics shipment DataFrame
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight_kg': [12.5, 8.0, 15.0, 7.5, 10.0],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'Delivered', 'Delayed'],
    'Fragile': [True, False, True, False, True],
    'Shipping_Type': ['Air', 'Ground', 'Air', 'Ground', 'Air']
})

df.to_excel('ShipmentData.xlsx',index = False)

In [747]:
# Read The excel File
df_loaded = pd.read_excel('ShipmentData.xlsx')
print(df_loaded)

   ShipmentID  Weight_kg      Status  Fragile Shipping_Type
0        1001       12.5   Delivered     True           Air
1        1002        8.0  In Transit    False        Ground
2        1003       15.0     Delayed     True           Air
3        1004        7.5   Delivered    False        Ground
4        1005       10.0     Delayed     True           Air

In [748]:
# Use all the Binary Comparisonsss
# Assuming 'df' DataFrame is already defined, for example from a previous image:
df = pd.DataFrame({
    'City': ['Delhi', 'Beijing', 'Los Angeles', 'Paris', 'Sydney'],
    'PM2.5': [250, 180, 90, 60, 40],
    'PM10': [300, 220, 110, 80, 55],
    'NO2': [40, 60, 30, 25, 20],
    'CO': [1.1, 1.3, 0.7, 0.6, 0.4]
})

# Define safe threshold values (as per environmental standards)
safe_PM25 = 100
safe_PM10 = 200

# Perform binary comparisons
pm25_safe = df['PM2.5'] < safe_PM25      # Is PM2.5 within safe limit?
pm10_high = df['PM10'] > safe_PM10      # Is PM10 exceeding danger level?
pm_match = df['PM2.5'] == df['PM10']     # Are both pollutants equal?

# Print comparisons
print("Cities with Safe PM2.5 Levels:\n", pm25_safe)
print("\nCities with High PM10 Levels:\n", pm10_high)
print("\nCities where PM2.5 equals PM10:\n", pm_match)

Cities with Safe PM2.5 Levels:
 0    False
1    False
2     True
3     True
4     True
Name: PM2.5, dtype: bool

Cities with High PM10 Levels:
 0     True
1     True
2    False
3    False
4    False
Name: PM10, dtype: bool

Cities where PM2.5 equals PM10:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [749]:
# Boolean Functions

# Create a sample DataFrame with emissions data (in mg/m³)
data = {
    'NOx_Emissions': [10, 20, 30],  # Nitrogen oxides (harmful gases)
    'CO2_Emissions': [40, 50, 60]   # Carbon dioxide (global warming agent)
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Daily Emissions Data:\n", df)

# Binary comparison - Check if emissions are less than 25
# Returns a DataFrame with boolean values (True/False) per element
print("\nEmissions < 25 mg/m³:\n", df.lt(25)) # lt = less than

# Check if emissions exceed 50 mg/m³
print("\nEmissions > 50 mg/m³ (Exceeds Alert Level):\n", df.gt(50)) # gt = greater than

# Check where emissions are exactly 30 mg/m³
print("\nEmissions == 30 mg/m³ (Match Target Day):\n", df.eq(30)) # eq = equal to

# Check if emissions are <= 30 mg/m³ (within safe range)
print("\nEmissions <= 30 mg/m³:\n", df.le(30)) # le = less than or equal

Daily Emissions Data:
    NOx_Emissions  CO2_Emissions
0             10             40
1             20             50
2             30             60

Emissions < 25 mg/m³:
    NOx_Emissions  CO2_Emissions
0           True          False
1           True          False
2          False          False

Emissions > 50 mg/m³ (Exceeds Alert Level):
    NOx_Emissions  CO2_Emissions
0          False          False
1          False          False
2          False           True

Emissions == 30 mg/m³ (Match Target Day):
    NOx_Emissions  CO2_Emissions
0          False          False
1          False          False
2           True          False

Emissions <= 30 mg/m³:
    NOx_Emissions  CO2_Emissions
0           True          False
1           True          False
2           True          False

In [750]:
# Sample DataFrame for example
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight(kg)': [800, 1200, 900, 950, 700],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'No', 'No'],
    'OriginPort': ['Rotterdam', 'Shanghai', 'Hamburg', 'Rotterdam', 'Hamburg']
})

# 1. Define a set of European ports
europe_ports = ['Rotterdam', 'Hamburg']

# 2. Apply advanced filtering
filtered_df = df[
    (df['Status'] == 'No') &  # Only those not delivered
    (df['Weight(kg)'] < 1000) &  # Weight less than 1000 kg
    (df['OriginPort'].isin(europe_ports))  # From European ports
]

# 3. Display the result
print("\nFiltered Shipments (Undelivered, <1000kg, From Europe):")
print(filtered_df)

Filtered Shipments (Undelivered, <1000kg, From Europe):
   ShipmentID  Weight(kg) Status OriginPort
3        1004         950     No  Rotterdam
4        1005         700     No    Hamburg

In [751]:
# Adding new Columns
df['Fragile'] = [True, False, True, False, True]
# add new Row
df.loc[5] = [1006, 1100, 'Delayed', 'Amsterdam', False]
# delete
df.drop('OriginPort', axis=1, inplace=True)
# Update
df.loc[df['Status'] == 'No', 'Status'] = 'Pending'

# Rename
df.rename(columns={'Weight(kg)': 'Weight_kg'}, inplace=True)
print(df)

   ShipmentID  Weight_kg      Status  Fragile
0        1001        800   Delivered     True
1        1002       1200  In Transit    False
2        1003        900     Delayed     True
3        1004        950     Pending    False
4        1005        700     Pending     True
5        1006       1100     Delayed    False

In [752]:
# Sorting PAndas Dataframe
# Sample shipment data from international ports
data = {
    "ShipmentID": [103, 101, 105, 102, 104],
    "OriginPort": ["Shanghai", "Rotterdam", "Singapore", "Dubai", "Los Angeles"],
    "DestinationPort": ["New York", "Hamburg", "London", "Tokyo", "Mumbai"],
    "Weight_Tons": [15.4, 25.1, 12.3, 18.7, 20.5],
    "DepartureDate": pd.to_datetime([
        "2024-09-01", "2024-08-25", "2024-09-10", "2024-08-28", "2024-09-03"
    ])
}


df = pd.DataFrame(data)
print(df)

   ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
0         103     Shanghai        New York         15.4    2024-09-01
1         101    Rotterdam         Hamburg         25.1    2024-08-25
2         105    Singapore          London         12.3    2024-09-10
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03

In [753]:
# Sort DataFrame by 'Weight_Tons' column in ascending order
sorted_df = df.sort_values(by="Weight_Tons", ascending=True)
print("\nSorted by Weight (ascending):\n", sorted_df)

Sorted by Weight (ascending):
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
2         105    Singapore          London         12.3    2024-09-10
0         103     Shanghai        New York         15.4    2024-09-01
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25

In [754]:
# Sort by 'OriginPort' alphabetically, then by 'Weight_Tons'
sorted_df = df.sort_values(by=["OriginPort", "Weight_Tons"], ascending=[True, False])
print("\nSorted by OriginPort (A-Z) and then Weight (high to low):\n", sorted_df)

Sorted by OriginPort (A-Z) and then Weight (high to low):
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25
0         103     Shanghai        New York         15.4    2024-09-01
2         105    Singapore          London         12.3    2024-09-10

In [755]:
# Set ShipmentID as index and sort by index
df_indexed = df.set_index("ShipmentID")
sorted_by_index = df_indexed.sort_index()
print("\nSorted by ShipmentID (index):\n", sorted_by_index)

Sorted by ShipmentID (index):
              OriginPort DestinationPort  Weight_Tons DepartureDate
ShipmentID
101           Rotterdam         Hamburg         25.1    2024-08-25
102               Dubai           Tokyo         18.7    2024-08-28
103            Shanghai        New York         15.4    2024-09-01
104         Los Angeles          Mumbai         20.5    2024-09-03
105           Singapore          London         12.3    2024-09-10

In [756]:
# Sort the DataFrame by 'Weight_Tons' using quicksort algorithm
df_quicksort = df.sort_values(by='Weight_Tons', kind='quicksort')
print("\nSort using quick sort algo\n", df_quicksort)

Sort using quick sort algo
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
2         105    Singapore          London         12.3    2024-09-10
0         103     Shanghai        New York         15.4    2024-09-01
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25

In [757]:
# Reindexing
# Dataset: World Vegetation Zones
# Original DataFrame with vegetation zones
veg_df = pd.DataFrame({
    'Zone': ['Tundra', 'Taiga', 'Desert', 'Savanna', 'Rainforest'],
    'Continent': ['Arctic', 'Asia', 'Africa', 'Africa', 'South America'],
    'Avg_Temp_C': [-10, -5, 35, 28, 26]
})
print("Original Dataframe:\n",veg_df)


# Set the zone as the index for clarity
veg_df = veg_df.set_index('Zone')

# Display the original DataFrame
print("Original World Vegetation Dataset:\n", veg_df)

Original Dataframe:
          Zone      Continent  Avg_Temp_C
0      Tundra         Arctic         -10
1       Taiga           Asia          -5
2      Desert         Africa          35
3     Savanna         Africa          28
4  Rainforest  South America          26
Original World Vegetation Dataset:
                 Continent  Avg_Temp_C
Zone
Tundra             Arctic         -10
Taiga                Asia          -5
Desert             Africa          35
Savanna            Africa          28
Rainforest  South America          26

In [758]:
# Reindexing Rows (Add & Reorder Zones)

# New desired order of vegetation zones (some new, some missing)
new_index = ['Rainforest', 'Savanna', 'Steppe', 'Desert', 'Taiga', 'Tundra']

# Reindexing the DataFrame
reindexed_veg = veg_df.reindex(new_index)

# Display the reindexed DataFrame
print("\nReindexed Vegetation Dataset:\n", reindexed_veg)

Reindexed Vegetation Dataset:
                 Continent  Avg_Temp_C
Zone
Rainforest  South America        26.0
Savanna            Africa        28.0
Steppe                NaN         NaN
Desert             Africa        35.0
Taiga                Asia        -5.0
Tundra             Arctic       -10.0

In [759]:
# Reindexing Columns

# Reorder the columns
reindexed_columns = veg_df.reindex(columns=['Avg_Temp_C', 'Continent'])

# Display the result
print("\nReindexed Columns:\n", reindexed_columns)

Reindexed Columns:
             Avg_Temp_C      Continent
Zone
Tundra             -10         Arctic
Taiga               -5           Asia
Desert              35         Africa
Savanna             28         Africa
Rainforest          26  South America

In [760]:
# Fill Missing Values While Reindexing

# Reindex and fill missing values with defaults
reindexed_filled = veg_df.reindex(new_index, fill_value='Data N/A')

# Display the filled DataFrame
print("\nReindexed with Fill Value:\n", reindexed_filled)

Reindexed with Fill Value:
                 Continent Avg_Temp_C
Zone
Rainforest  South America         26
Savanna            Africa         28
Steppe           Data N/A   Data N/A
Desert             Africa         35
Taiga                Asia         -5
Tundra             Arctic        -10

In [761]:
# Iteration
# National Geography Zones dataset that captures region name, average elevation, and annual rainfall.
# Sample National Geography dataset
geo_df = pd.DataFrame({
    'Region': ['Amazon Basin', 'Sahara Desert', 'Himalayas', 'Great Plains'],
    'Elevation_m': [200, 450, 5200, 600],  # Elevation in meters
    'Rainfall_mm': [2200, 50, 1200, 900]  # Rainfall in millimeters
})

print(geo_df)

          Region  Elevation_m  Rainfall_mm
0   Amazon Basin          200         2200
1  Sahara Desert          450           50
2      Himalayas         5200         1200
3   Great Plains          600          900

In [762]:
# Iterating with iterrows()

# Using iterrows() to access each row as a Series
for index, row in geo_df.iterrows():
    print(f"Region: {row['Region']}, Elevation: {row['Elevation_m']} m")

Region: Amazon Basin, Elevation: 200 m
Region: Sahara Desert, Elevation: 450 m
Region: Himalayas, Elevation: 5200 m
Region: Great Plains, Elevation: 600 m

In [763]:
# Iterating with itertuples()

# Using itertuples() for faster row-wise iteration
for row in geo_df.itertuples(index=False):
    print(f"{row.Region} receives about {row.Rainfall_mm} mm rainfall annual")

Amazon Basin receives about 2200 mm rainfall annual
Sahara Desert receives about 50 mm rainfall annual
Himalayas receives about 1200 mm rainfall annual
Great Plains receives about 900 mm rainfall annual

In [764]:
# Column-wise Iteration with items()
# Iterating through columns using items()
for column_name, column_data in geo_df.items():
    print(f"\nColumn: {column_name}")
    print(f"Values: {column_data.tolist()}")

Column: Region
Values: ['Amazon Basin', 'Sahara Desert', 'Himalayas', 'Great Plains']

Column: Elevation_m
Values: [200, 450, 5200, 600]

Column: Rainfall_mm
Values: [2200, 50, 1200, 900]

In [765]:
# Datasets: Geography Zones
# Northern climate data
north_df = pd.DataFrame({
    'Region': ['Arctic Circle', 'Northern Tundra'],
    'Avg_Temp_C': [-15, -10],
    'Biome': ['Tundra', 'Taiga']
})
print("\nNorthern Climate Data\n", north_df)

# Southern climate data
south_df = pd.DataFrame({
    'Region': ['Amazon Basin', 'Patagonian Steppe'],
    'Avg_Temp_C': [27, 10],
    'Biome': ['Rainforest', 'Steppe']
})
print("\nSouthern Climate Data\n", south_df)

Northern Climate Data
             Region  Avg_Temp_C   Biome
0    Arctic Circle         -15  Tundra
1  Northern Tundra         -10   Taiga

Southern Climate Data
               Region  Avg_Temp_C       Biome
0       Amazon Basin          27  Rainforest
1  Patagonian Steppe          10      Steppe

In [766]:
# Row-wise Concatenation (axis=0) / For Column (axis=1)
# Combine northern and southern data into a single DataFrame
combined_df = pd.concat([north_df, south_df], axis=0, ignore_index=True)
print(combined_df)

              Region  Avg_Temp_C       Biome
0      Arctic Circle         -15      Tundra
1    Northern Tundra         -10       Taiga
2       Amazon Basin          27  Rainforest
3  Patagonian Steppe          10      Steppe

In [767]:
# Concatenation with Hierarchical Keys
# Add hierarchical row index to identify origin
geo_hierarchy = pd.concat([north_df, south_df], keys=['North', 'South'])
print(geo_hierarchy)

                    Region  Avg_Temp_C       Biome
North 0      Arctic Circle         -15      Tundra
      1    Northern Tundra         -10       Taiga
South 0       Amazon Basin          27  Rainforest
      1  Patagonian Steppe          10      Steppe

In [768]:
# Passenger reviews and sentiments collected from major international flights.

# Sample airline review dataset
data = {
    'Passenger': ['Alice', 'Bob', 'Carlos', 'Diana', 'Eva'],
    'Review': [
        'The flight was excellent and on time',
        'terrible service and rude crew',
        'food was okay but legroom was cramped',
        'loved the inflight entertainment options!',
        'flight delayed by 3 hours, very annoying'
    ],
    'Airline': ['Delta', 'United', 'Lufthansa', 'Emirates', 'Qantas']
}

# Create a DataFrame
df = pd.DataFrame(data)
print(df)

  Passenger                                     Review    Airline
0     Alice       The flight was excellent and on time      Delta
1       Bob             terrible service and rude crew     United
2    Carlos      food was okay but legroom was cramped  Lufthansa
3     Diana  loved the inflight entertainment options!   Emirates
4       Eva   flight delayed by 3 hours, very annoying     Qantas

In [769]:
# Text Cleaning & Filtering

# Convert all reviews to lowercase for normalization
df['Review_lower'] = df['Review'].str.lower()

# Check if the word "delayed" is in the review
df['Contains_Delayed'] = df['Review_lower'].str.contains('delayed')

# Replace the word 'terrible' with 'poor'
df['Cleaned_Review'] = df['Review_lower'].str.replace('terrible', 'poor', regex=False)

# Count number of characters in the review
df['Review_Length'] = df['Review'].str.len()

# Extract the first word using regex
df['First_Word'] = df['Review'].str.extract(r'(\w+)')

# Display updated DataFrame
print(df)

  Passenger                                     Review    Airline  \
0     Alice       The flight was excellent and on time      Delta
1       Bob             terrible service and rude crew     United
2    Carlos      food was okay but legroom was cramped  Lufthansa
3     Diana  loved the inflight entertainment options!   Emirates
4       Eva   flight delayed by 3 hours, very annoying     Qantas

                                Review_lower  Contains_Delayed  \
0       the flight was excellent and on time             False
1             terrible service and rude crew             False
2      food was okay but legroom was cramped             False
3  loved the inflight entertainment options!             False
4   flight delayed by 3 hours, very annoying              True

                              Cleaned_Review  Review_Length First_Word
0       the flight was excellent and on time             36        The
1                 poor service and rude crew             30   terrible
2      food was okay but legroom was cramped             37       food
3  loved the inflight entertainment options!             41      loved
4   flight delayed by 3 hours, very annoying             40     flight

In [770]:
# Creating categorical Types
# Sample shipment data
data = {
    'ShipmentID': ['S001', 'S002', 'S003', 'S004', 'S005'],
    'PortofOrigin': ['Shanghai', 'Mumbai', 'Singapore', 'Rotterdam', 'Mumbai'],
    'ShipmentStatus': ['In Transit', 'Delivered', 'Delayed', 'In Transit', 'Delivered']
}

# Create DataFrame
df = pd.DataFrame(data)
print("Before:",df)
print("\nData types:\n", df.dtypes)
# Convert ShipmentStatus to categorical type
df['ShipmentStatus'] = pd.Categorical(df['ShipmentStatus'])

# Display DataFrame and type info
print(df)
print("\nData types:\n", df.dtypes)

Before:   ShipmentID PortofOrigin ShipmentStatus
0       S001     Shanghai     In Transit
1       S002       Mumbai      Delivered
2       S003    Singapore        Delayed
3       S004    Rotterdam     In Transit
4       S005       Mumbai      Delivered

Data types:
 ShipmentID        object
PortofOrigin      object
ShipmentStatus    object
dtype: object
  ShipmentID PortofOrigin ShipmentStatus
0       S001     Shanghai     In Transit
1       S002       Mumbai      Delivered
2       S003    Singapore        Delayed
3       S004    Rotterdam     In Transit
4       S005       Mumbai      Delivered

Data types:
 ShipmentID          object
PortofOrigin        object
ShipmentStatus    category
dtype: object

In [771]:
# Sorting, Ordering, and Comparison

# Define a specific order to categorical values, enabling logical sorting and comparisons.

# Define custom order for status
status_order = ['Delayed', 'In Transit', 'Delivered']

# Convert to ordered categorical
df['ShipmentStatus'] = pd.Categorical(df['ShipmentStatus'], categories=status_order, ordered=True)

# Sort DataFrame based on ordered status
sorted_df = df.sort_values('ShipmentStatus')

print(sorted_df)

  ShipmentID PortofOrigin ShipmentStatus
2       S003    Singapore        Delayed
0       S001     Shanghai     In Transit
3       S004    Rotterdam     In Transit
1       S002       Mumbai      Delivered
4       S005       Mumbai      Delivered

In [772]:
# Create Patient Vitals Monitoring (5 patients x 4 vitals)
# Create a simulated hospital vitals dataset
data = {
    'PatientID': ['P001', 'P002', 'P003', 'P004', 'P005'],
    'Temperature_C': [36.6, np.nan, 38.1, 37.5, np.nan],
    'Blood_Pressure': ['120/80', '130/85', np.nan, '110/70', '125/82'],
    'Heart_Rate': [72, 85, 80, np.nan, np.nan],
    'Respiratory_Rate': [18, np.nan, 20, 19, 21]
}

df = pd.DataFrame(data)
print(df)

  PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002            NaN         130/85        85.0               NaN
2      P003           38.1            NaN        80.0              20.0
3      P004           37.5         110/70         NaN              19.0
4      P005            NaN         125/82         NaN              21.0

In [773]:
# Detecting Missing Values

# Detecting missing values in each column
missing_values = df.isna()

# Count of missing values per column
missing_counts = df.isna().sum()

print("Missing matrix:\n", missing_values)
print("\nMissing counts:\n", missing_counts)

Missing matrix:
    PatientID  Temperature_C  Blood_Pressure  Heart_Rate  Respiratory_Rate
0      False          False           False       False             False
1      False           True           False       False              True
2      False          False            True       False             False
3      False          False           False        True             False
4      False           True           False        True             False

Missing counts:
 PatientID           0
Temperature_C       2
Blood_Pressure      1
Heart_Rate          2
Respiratory_Rate    1
dtype: int64

In [774]:
# Filling Missing Values (fillna)

# Fill missing temperature with mean of existing temperatures
df['Temperature_C'] = df['Temperature_C'].fillna(df['Temperature_C'].mean())

# Fill missing heart rate with a constant value (e.g., 75)
df['Heart_Rate'] = df['Heart_Rate'].fillna(75)

print("\nAfter filling missing values:\n", df)

After filling missing values:
   PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002           37.4         130/85        85.0               NaN
2      P003           38.1            NaN        80.0              20.0
3      P004           37.5         110/70        75.0              19.0
4      P005           37.4         125/82        75.0              21.0

In [775]:
# Dropping Rows/Columns with Missing Data (dropna)
# Drop rows where all vitals are missing
df_dropped = df.dropna(how='all', subset=['Temperature_C', 'Blood_Pressure', 'Heart_Rate', 'Respiratory_Rate'])
print("After Dropping Rows with All Vitals missing:\n",df_dropped)

After Dropping Rows with All Vitals missing:
   PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002           37.4         130/85        85.0               NaN
2      P003           38.1            NaN        80.0              20.0
3      P004           37.5         110/70        75.0              19.0
4      P005           37.4         125/82        75.0              21.0

In [776]:
# Handling duplicates

# Create logistics dataset
# Create sample dataset representing cargo shipments
data = {
    'Container ID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002'],
    'Origin_Port': ['Shanghai', 'Rotterdam', 'Dubai', 'Shanghai', 'Singapore', 'Rotterdam'],
    'Destination_Port': ['Los Angeles', 'New York', 'Hamburg', 'Los Angeles', 'Tokyo', 'New York'],
    'Weight_Tons': [20, 25, 18, 20, 30, 25]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  Container ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
3         C001    Shanghai      Los Angeles           20
4         C004   Singapore            Tokyo           30
5         C002   Rotterdam         New York           25

In [777]:

# Detect duplicated rows (entire row)
print("\nDuplicated Rows (Boolean Mask):")
print(df.duplicated())

# Drop duplicate rows (entirely duplicated rows)
df_dedup = df.drop_duplicates()
print("\nDataFrame after removing completely duplicated rows:")
print(df_dedup)

# Drop duplicates based on 'Container ID' column
df_unique_containers = df.drop_duplicates(subset=['Container ID'])
print("\nDataFrame after keeping unique 'Container ID's only:")
print(df_unique_containers)

Duplicated Rows (Boolean Mask):
0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

DataFrame after removing completely duplicated rows:
  Container ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
4         C004   Singapore            Tokyo           30

DataFrame after keeping unique 'Container ID's only:
  Container ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
4         C004   Singapore            Tokyo           30

In [778]:
import pandas as pd

# Handling duplicates

# Create logistics dataset
data = {
    'Container ID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002'],
    'Origin_Port': ['Shanghai', 'Rotterdam', 'Dubai', 'Shanghai', 'Singapore', 'Rotterdam'],
    'Destination_Port': ['Los Angeles', 'New York', 'Hamburg', 'Los Angeles', 'Tokyo', 'New York'],
    'Weight_Tons': [20, 25, 18, 20, 30, 25]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Retrieve and Count Unique Elements

# Count of unique destination ports
unique_dest_ports = df['Destination_Port'].nunique()
print("Unique Destination Ports:", unique_dest_ports)

# Unique container IDs
print("Unique Container IDs:", df['Container ID'].unique())

# Frequency of each origin port
print("Origin Port Frequency:\n", df['Origin_Port'].value_counts())

DataFrame:
  Container ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
3         C001    Shanghai      Los Angeles           20
4         C004   Singapore            Tokyo           30
5         C002   Rotterdam         New York           25
Unique Destination Ports: 4
Unique Container IDs: ['C001' 'C002' 'C003' 'C004']
Origin Port Frequency:
 Origin_Port
Shanghai     2
Rotterdam    2
Dubai        1
Singapore    1
Name: count, dtype: int64

In [779]:
# Handling Duplicated Labels (Row/Column Indexes)
# Create sample dataframe with duplicate column labels
df_dup_cols = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=['A', 'B', 'A'])

print(df_dup_cols)

print("Duplicate Columns:\n", df_dup_cols.columns.duplicated()) # Detect duplicate columns

# Create sample dataframe with duplicate row indices
df_dup_index = pd.DataFrame({
    'Shipment': ['Box1', 'Box2', 'Box3'],
    'Weight': [10, 15, 12]
}, index=[0, 1, 1]) # duplicate index 1

print(df_dup_index)

print("Duplicate Index:\n", df_dup_index.index.duplicated()) # Detect duplicate indices

   A  B  A
0  1  2  3
1  4  5  6
Duplicate Columns:
 [False False  True]
  Shipment  Weight
0     Box1      10
1     Box2      15
1     Box3      12
Duplicate Index:
 [False False  True]

In [780]:
# Combining and reshaping
# concat() – Combine OTA and Airline Bookings
# Create OTA bookings DataFrame
ota_data = pd.DataFrame({
    'PassengerID': [101, 102, 103],
    'Origin': ['JFK', 'LHR', 'DXB'],
    'Destination': ['CDG', 'DEL', 'HND'],
    'FareUSD': [520, 690, 830]
})

# Create Airline website bookings DataFrame
airline_data = pd.DataFrame({
    'PassengerID': [104, 105],
    'Origin': ['SIN', 'SFO'],
    'Destination': ['SYD', 'ICN'],
    'FareUSD': [720, 640]
})

# Combine both datasets vertically (row-wise)
combined_data = pd.concat([ota_data, airline_data], ignore_index=True)

print(combined_data)

   PassengerID Origin Destination  FareUSD
0          101    JFK         CDG      520
1          102    LHR         DEL      690
2          103    DXB         HND      830
3          104    SIN         SYD      720
4          105    SFO         ICN      640

In [781]:
# merge() - Add Airport Metadata
# Main ticket data
tickets = pd.DataFrame({
    'PassengerID': [101, 102, 103],
    'Origin': ['JFK', 'LHR', 'DXB'],
    'Destination': ['CDG', 'DEL', 'HND']
})

# Airport metadata
airports = pd.DataFrame({
    'AirportCode': ['JFK', 'LHR', 'DXB', 'CDG', 'DEL', 'HND'],
    'Country': ['USA', 'UK', 'UAE', 'France', 'India', 'Japan']
})

# Merge ticket data with airport info on Origin code
merged = tickets.merge(airports, how='left', left_on='Origin', right_on='AirportCode')

print(merged)

   PassengerID Origin Destination AirportCode Country
0          101    JFK         CDG         JFK     USA
1          102    LHR         DEL         LHR      UK
2          103    DXB         HND         DXB     UAE

In [782]:
# Schedule DataFrame: flight details
schedule_df = pd.DataFrame({
    'FlightNo': ['AI101', 'BA204', 'LH709', 'EK501'],
    'Origin': ['Delhi', 'London', 'Frankfurt', 'Dubai'],
    'Destination': ['New York', 'Mumbai', 'Tokyo', 'Singapore']
}).set_index('FlightNo')

# Prices DataFrame: ticket prices
prices_df = pd.DataFrame({
    'FlightNo': ['AI101', 'BA204', 'SQ002', 'EK501'],
    'FareUSD': [850, 920, 780, 730]
}).set_index('FlightNo')

# Different join types

# LEFT JOIN: keeps all rows from the schedule_df, missing prices = NaN
left_join = schedule_df.join(prices_df, how='left')
print("Left Join (All Schedule Flights):")
print(left_join)
print("\n")

# RIGHT JOIN: keeps all rows from prices_df, missing schedule = NaN
right_join = schedule_df.join(prices_df, how='right')
print("Right Join (All Priced Flights):")
print(right_join)
print("\n")

# INNER JOIN: keeps only matching FlightNo in both
inner_join = schedule_df.join(prices_df, how='inner')
print("Inner Join (Matching Flights Only):")
print(inner_join)
print("\n")

# OUTER JOIN: keeps all flights from both DataFrames
outer_join = schedule_df.join(prices_df, how='outer')
print("Outer Join (All Flights from Both Tables):")
print(outer_join)

Left Join (All Schedule Flights):
             Origin Destination  FareUSD
FlightNo
AI101         Delhi    New York    850.0
BA204        London      Mumbai    920.0
LH709     Frankfurt       Tokyo      NaN
EK501         Dubai   Singapore    730.0


Right Join (All Priced Flights):
          Origin Destination  FareUSD
FlightNo
AI101      Delhi    New York      850
BA204     London      Mumbai      920
SQ002        NaN         NaN      780
EK501      Dubai   Singapore      730


Inner Join (Matching Flights Only):
          Origin Destination  FareUSD
FlightNo
AI101      Delhi    New York      850
BA204     London      Mumbai      920
EK501      Dubai   Singapore      730


Outer Join (All Flights from Both Tables):
             Origin Destination  FareUSD
FlightNo
AI101         Delhi    New York    850.0
BA204        London      Mumbai    920.0
EK501         Dubai   Singapore    730.0
LH709     Frankfurt       Tokyo      NaN
SQ002           NaN         NaN    780.0

In [783]:
# pivot() - Reshape flight fare data from long to wide format
# Long-form fare data
fare_data = pd.DataFrame({
    'Route': ['JFK-CDG', 'NYC-LON', 'NYC-LON', 'DEL-TYO', 'DEL-TYO', 'DEL-TYO'],
    'Class': ['Economy', 'Business', 'First', 'Economy', 'Business', 'First'],
    'FareUSD': [500, 1200, 2200, 450, 1100, 2100]
})
print("All data\n", fare_data)

# Pivot the data: one row per route, one column per class
pivoted_fares = fare_data.pivot(index='Route', columns='Class', values='FareUSD')
print("\nPivot Data\n",pivoted_fares)

All data
      Route     Class  FareUSD
0  JFK-CDG   Economy      500
1  NYC-LON  Business     1200
2  NYC-LON     First     2200
3  DEL-TYO   Economy      450
4  DEL-TYO  Business     1100
5  DEL-TYO     First     2100

Pivot Data
 Class    Business  Economy   First
Route
DEL-TYO    1100.0    450.0  2100.0
JFK-CDG       NaN    500.0     NaN
NYC-LON    1200.0      NaN  2200.0

In [785]:
# pivot_table() - Average Fare by Origin and Class

# Flight ticket records
tickets = pd.DataFrame({
    'Origin': ['JFK', 'JFK', 'LHR', 'LHR', 'DXB', 'DXB'],
    'Class': ['Economy', 'Business', 'Economy', 'Business', 'Economy', 'Business'],
    'FareUSD': [520, 1120, 480, 980, 430, 900]
})

# Create a pivot table showing average fare by origin and class
fare_pivot = tickets.pivot_table(values='FareUSD',
                                 index='Origin',
                                 columns='Class',
                                 aggfunc='mean')

print(fare_pivot)

Class   Business  Economy
Origin
DXB        900.0    430.0
JFK       1120.0    520.0
LHR        980.0    480.0